{% load i18n %}
{% url 'password_reset_confirm' uidb64=uid token=token as reset_url %}
{% blocktrans with user_name=user.get_full_name site_name="Marketplace" reset_link=reset_url %}
Dear {{ user_name }},

You have requested a password reset for your {{ site_name }} account.

Please click the link below to reset your password:

{{ protocol }}://{{ domain }}{{ reset_link }}

This link will expire in a few hours for security reasons.

If you didn't request this password reset, please ignore this email.

Best regards,
The {{ site_name }} Team

---
This is an automated message, please do not reply to this email.
{% endblocktrans %}
